html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.navbar.bg-success .nav-link,
.navbar.bg-success .navbar-brand {
    color: #fff !important;
}

.navbar.bg-success nav-link,
.navbar.bg-success .navbar-brand:hover{
    color: #e2e6ea !important;
}

.navbar-nav .nav-link {
    color: #ffffff;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #e2e6ea  !important;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.4);
    background-color: transparent !important;
    box-shadow: none !important;
}

.navbar-nav .nav-link:focus {
    background-color: transparent !important;
    box-shadow: none !important;
}
